* {
  padding: 0px;
  margin: 0;
  direction: rtl;
}
.pages {
  width: 100%;
  min-height: 100vh;
  background-color: red;
  padding-top: 3%;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.topcenter {
  padding-top: 40vh;
}
.pages h1 {
  font-size: 100px;
}
.subtitle {
  font-size: 27px;
  color: gray;
  list-style: circle;
}
.subtitle li {
  display: inline-block;
  list-style: circle;
  margin-right: 10px;
}
.pages h2 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 6vh;
  color: white;
}
.pages p {
  width: 45%;
  text-align: left;
  margin: 14px auto;
  font-size: 19px;
  color: rgb(27, 27, 27);
}
